// Fonts
$font-main: 'Source Sans Pro', sans-serif;
$font-main-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap';
//$font-main-url: 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap';

// Color Presets
$red-main: #d93843;			// jasper
$green-main: #73c088;
$blue-main: #54c0cc;
$teal-main: #2fc4b2;
$orange-main: #fe7235;
$yellow-main: #ffc43d;		// sunglow
$brown-main: #c6a477;
$purple-main: #f65be3;
$dark-main: #555555;
// not yet integrated
$tea-green: #def6ca;
$lavender-rose: #f497da;
$carribean-green: #06d6a0;
$army-green: #41521f;
$pearl-aqua: #7adfbb;


// Links
$a-default-color: #055dab;
$a-activated-color: #46a1f2;		// hover and active
$a-inactive-color: #000000;			// visited

// Resolutions
$mobile-default-width: 414px;
$tablet-small-default-width: 667px;
$tablet-large-default-width: 1024px;
$desktop-default-width: 1366px;

// Container
$cv-container-offset: 20px;

// Avatar
$avatar-large-width: 20vw;
$avatar-big-width: 15vw;
$avatar-medium-width: 10vw;
$avatar-small-width: 5vw;
$avatar-tiny-width: 2.75vw;
$cv-avatar-rounded-border-radius: 5%;
$cv-avatar-circular-border-radius: 50%;
$default-avatar-transition-rate: 0.5s;

// Buttons
// Color (Default)
$btn-default-color: #dbdbdb;
// Right Margin (Default)
$btn-default-rm: 0.25em;
// Font Size (Default)
$default-btn-tiny-fs: 12px;
$default-btn-small-fs: 16px;
$default-btn-big-fs: 24px;
$default-btn-large-fs: 28px;
// Padding (vp = vertical, hp = horizontal)
$btn-tiny-vp: 1em*0.3;
$btn-tiny-hp: 1em + (1em*0.3);
$btn-small-vp: 1em*0.4;
$btn-small-hp: 1em + (1em*0.4);
$btn-big-vp: 1em*0.45;
$btn-big-hp: 1em + (1em*0.45);
$btn-large-vp: 1em*0.6;
$btn-large-hp: 1em + (1em*0.6);
// Border
$btn-default-border: 2px;
// Expansion Rate
$expand-rate: 1em*0.2;
// Transition Rate
$default-btn-transition-rate: 0.5s;

// Paragraph
$default-p-line-height: 1.75em;

// Headings
$h1-default-size: 76px;
$h2-default-size: 64px;
$h3-default-size: 56px;
$h4-default-size: 48px;
$h5-default-size: 36px;
$h6-default-size: 24px;
$h1-default-line-height: 1;
$h2-default-line-height: 1.1;
$h3-default-line-height: 1.2;
$h4-default-line-height: 1.3;
$h5-default-line-height: 1.4;
$h6-default-line-height: 1.5;
$h1-default-mobile-font-size: 4rem;
$h1-default-tablet-small-font-size: $h1-default-mobile-font-size + 0.25rem;
$h2-default-mobile-font-size: 3.5rem;
$h2-default-tablet-small-font-size: $h2-default-mobile-font-size + 0.25rem;
$h3-default-mobile-font-size: 3.25rem;
$h3-default-tablet-small-font-size: $h3-default-mobile-font-size + 0.25rem;
$h4-default-mobile-font-size: 3rem;
$h4-default-tablet-small-font-size: $h4-default-mobile-font-size + 0.25rem;
$h5-default-mobile-font-size: 2.5rem;
$h5-default-tablet-small-font-size: $h5-default-mobile-font-size + 0.25rem;
$h6-default-mobile-font-size: 2rem;
$h6-default-tablet-small-font-size: $h6-default-mobile-font-size + 0.25rem;