// Fonts
$font-main: 'Source Sans Pro', sans-serif;
$font-main-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap';
//$font-main-url: 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap';

// Color
$red-main: #d93843;			// jasper
$green-main: #73c088;
$blue-main: #54c0cc;
$teal-main: #2fc4b2;
$orange-main: #fe7235;
$yellow-main: #ffc43d;		// sunglow
$brown-main: #c6a477;
$purple-main: #f65be3;
$dark-main: #555555;

$tea-green: #def6ca;
$lavender-rose: #f497da;
$carribean-green: #06d6a0;
$army-green: #41521f;
$pearl-aqua: #7adfbb;

// Links
$a-default-color: #055dab;
$a-activated-color: #46a1f2;		// hover and active
$a-inactive-color: #000000;			// visited

// Avatar
$avatar-large-width: 20vw;
$avatar-big-width: 15vw;
$avatar-medium-width: 10vw;
$avatar-small-width: 5vw;
$avatar-tiny-width: 2.75vw;