// Fonts
$font-main: 'Source Sans Pro', sans-serif;
$font-main-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap';
//$font-main-url: 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap';

// Color
$red-main: #ff4646;
$green-main: #73c088;
$blue-main: #54c0cc;
$teal-main: #2fc4b2;
$orange-main: #fe7235;
$yellow-main: #fdd51e;
$brown-main: #c6a477;
$purple-main: #ca34ca;
$dark-main: #555555;

// Links
$a-default-color: #055dab;
$a-activated-color: #46a1f2;		// hover and active
$a-inactive-color: #000000;			// visited

/* Avatar */
$avatar-tiny-width: 45px;
$avatar-small-width: 135px;
$avatar-big-width: 190px;
$avatar-large-width: 295px;