/* Font Settings */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i&display=swap');

a,p,b,strong,h1,h2,h3,h4,h5,dfn{
	font-family: 'Lato', sans-serif;
}

b,strong,h1,h2,h3,h4,h5{
	font-weight: bold;
}

dfn{
	font-style: italic;
}

/* Defaults */
body{
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5{
	padding: 0px;
}


/* Hyperlinks */
a{
	color: #055dab;
}

a:hover, a:active{
	color: #46a1f2;
}

a:visited{
	color: #000000;
}

a,a:hover,a:visited,a:active{
	text-decoration: none;
}

/* Avatar */
.avatar{
	border-radius: 50% 50% 50% 50%;
}
.avatar.tiny{
	height: 45px;
	width: 45px;
}
.avatar.small{
	height: 175px;
	width: 175px;
}
.avatar.medium{
	height: 225px;
	width: 225px;
}
.avatar.big{
	height: 300px;
	width: 300px;
}