/* Font Settings */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i&display=swap');

a,p,b,strong,h1,h2,h3,h4,h5,dfn{
	font-family: 'Lato', sans-serif;
}

b,strong,h1,h2,h3,h4,h5{
	font-weight: bold;
}

dfn{
	font-style: italic;
}

/* Defaults */
html{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5{
	padding: 0px;
	margin: 0px;
}

/* Hyperlinks */
a{
	color: #055dab;
}

a:hover, a:active{
	color: #46a1f2;
}

a:visited{
	color: #000000;
}

a,a:hover,a:visited,a:active{
	text-decoration: none;
}

/* Paragraph */
p{
	margin: 0px;
}

/* Avatar */
.avatar.rounded{
	border-radius: 5%;
}
.avatar.circular{
	border-radius: 50%;
}

.avatar.tiny{
	width: 45px;
}
.avatar.small{
	width: 135px;
}
.avatar.big{
	width: 190px;
}
.avatar.huge{
	width: 295px;
}