/* Font */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600,700,800&display=swap');

/* Defaults */
body{
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 0px;
}

a,p{
	font-family: 'Lato', sans-serif;
}

/* Hyperlinks */
a{
	color: #055dab;
}

a:hover, a:active{
	color: #46a1f2;
}

a:visited{
	color: #000000;
}

a,a:hover,a:visited,a:active{
	text-decoration: none;
}

