@mixin corner-tweaks($border-radius){
	border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
}

.cv-avatar{
	// Type
	&.rounded{ 
		border-radius: $cv-avatar-rounded-border-radius;
		&.transform{
			&:hover{
				@include corner-tweaks($cv-avatar-circular-border-radius);
				transition-duration: $default-avatar-transition-rate;
			}
		}
	}
	&.circular{ 
		border-radius: $cv-avatar-circular-border-radius;
		&.transform{
			&:hover{
				@include corner-tweaks($cv-avatar-rounded-border-radius);
				transition-duration: $default-avatar-transition-rate;
			}
		}
	}
	// Size
	&.tiny		{ width: $avatar-tiny-width; }
	&.small		{ width: $avatar-small-width; }
	&.medium	{ width: $avatar-medium-width; }
	&.big 		{ width: $avatar-big-width; }
	&.large		{ width: $avatar-large-width; }
}