.cv-avatar{
	// Type
	&.rounded	{ border-radius: 5%; }
	&.circular	{ border-radius: 50%; }
	// Size
	&.tiny		{ width: $avatar-tiny-width; }
	&.small		{ width: $avatar-small-width; }
	&.medium	{ width: $avatar-medium-width; }
	&.big 		{ width: $avatar-big-width; }
	&.large		{ width: $avatar-large-width; }
}