/* Default Value */
$default-btn-rm: 0.25em;
/* Font Size */
$default-btn-tiny-fs: 14px;
$default-btn-small-fs: 16px;
$default-btn-big-fs: 24px;
$default-btn-large-fs: 28px;
/* Padding */
// vp (vertical padding), hp (horizontal padding)
$btn-tiny-vp: 1em*0.45;
$btn-tiny-hp: 1em + (1em*0.45);
$btn-small-vp: 1em*0.55;
$btn-small-hp: 1em + (1em*0.55);
$btn-big-vp: 1em*0.6;
$btn-big-hp: 1em + (1em*0.6);
$btn-large-vp: 1em*0.67;
$btn-large-hp: 1em + (1em*0.67);

%cv-btn-default-size{
	padding: { top: $btn-tiny-vp; right: $btn-tiny-hp; bottom: $btn-tiny-vp; left: $btn-tiny-hp; }
	font-size: $default-btn-tiny-fs;
}

button.cv-btn{
	cursor: pointer;
	margin: 0em $default-btn-rm 0em 0em;
	display: inline-block;
	min-height: 1em;
	text-align: center;
	text-transform: none;
	font-style: normal;
	font-weight: normal;

	&:last-child{ margin: 0em; }
	&:focus{ outline: none !important; }

	/* Size */
	&.tiny{
		@extend %cv-btn-default-size;
	}
	&.small{
		padding: { top: $btn-small-vp; right: $btn-small-hp; bottom: $btn-small-vp; left: $btn-small-hp; }
		font-size: $default-btn-small-fs;
	}
	&.big{
		padding: { top: $btn-big-vp; right: $btn-big-hp; bottom: $btn-big-vp; left: $btn-big-hp; }
		font-size: $default-btn-big-fs;
	}
	&.large{
		padding: { top: $btn-large-vp; right: $btn-large-hp; bottom: $btn-large-vp; left: $btn-large-hp; }
		font-size: $default-btn-large-fs;			
	}

	// inherit default button size
	@extend %cv-btn-default-size;

	/*
		Basic Button
	*/
	&.basic{
		border: 1px solid #dbdbdb;
		background: transparent none;
		border-radius: 0.28rem;

		// Color Theme
		&.red		{ border: 1px solid $red-main }
		&.green 	{ border: 1px solid $green-main }
		&.blue 		{ border: 1px solid $blue-main }
		&.teal 		{ border: 1px solid $teal-main }
		&.orange	{ border: 1px solid $orange-main }
		&.yellow	{ border: 1px solid $yellow-main }
		&.brown		{ border: 1px solid $brown-main }
		&.purple 	{ border: 1px solid $purple-main }
		&.dark		{ border: 1px solid $dark-main }
	}
}