// set default size if .cv-btn is called without any size reference
%cv-btn-default-size{
	padding: { top: $btn-small-vp; right: $btn-small-hp; bottom: $btn-small-vp; left: $btn-small-hp; }
	font-size: $default-btn-small-fs;
}

// curved mode
%curved-mode{
	border-radius: 25px;
	-ms-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}

@mixin corner-tweaks($border-radius){
	border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
}

// Main Styles
@mixin cv-btn-styles($btn-border, $default-color){
	cursor: pointer;
	margin: 0em $btn-default-rm 0em 0em;
	position: relative;
	display: inline-block;
	min-height: 1em;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-shadow: none;
	border: $btn-border solid $default-color;
	border-radius: 0.28rem;

	&:last-child{
		margin-right: 0em;
	}

	&:focus{
		outline: none !important;
	}

	&.transform{
		&:hover{
			@include corner-tweaks(25px);
			transition-duration: $default-transition-rate;
		}
	}

	&.curved{
		@include corner-tweaks(25px);

		&.transform{
			&:hover{
				@include corner-tweaks(0.28rem);
				transition-duration: $default-transition-rate;
			}
		}
	}
}

// Color
@mixin cv-btn-color($picked-color){
	&.cv-btn{
		border-color: $picked-color;
		background-color: $picked-color;
		color: white;
		&:hover{
			$cv-btn-darken: darken($picked-color, 7%);
			border-color: $cv-btn-darken;
			background-color: $cv-btn-darken;
			transition-duration: 0.5s;
		}
	}
	&.cv-btn-autofill{
		border-color: $picked-color;
		&:hover{
			color: white;
			background-color: $picked-color;
			transition-duration: 0.5s;
		}	
	}
	&.cv-btn-minimal{
		border-color: $picked-color;
		&:hover{
			$minimal-darken: darken($picked-color, 12%);
			border-color: $minimal-darken;
			transition-duration: 0.5s;
		}	
	}
}

%cv-btn-color-presets{
	&.red{ @include cv-btn-color($red-main); }
	&.green{ @include cv-btn-color($green-main); }
	&.blue{ @include cv-btn-color($blue-main); }
	&.teal{ @include cv-btn-color($teal-main); }
	&.orange{ @include cv-btn-color($orange-main); }
	&.yellow{ @include cv-btn-color($yellow-main); }
	&.brown{ @include cv-btn-color($brown-main); }
	&.purple{ @include cv-btn-color($purple-main); }
	&.dark{ @include cv-btn-color($dark-main); }
}

// Variations
button.cv-btn{
	@include cv-btn-styles($btn-default-border, $btn-default-color);

	// if no color preset is specified
	&:hover{
		$cv-btn-darken: darken($btn-default-color, 10%);
		border-color: $cv-btn-darken;
		background-color: $cv-btn-darken;
		transition-duration: 0.5s;
	}

	@extend %cv-btn-color-presets;
}

button.cv-btn-autofill{
	@include cv-btn-styles($btn-default-border, $btn-default-color);
	background: transparent none;

	@extend %cv-btn-color-presets;
}

button.cv-btn-minimal{
	@include cv-btn-styles($btn-default-border, $btn-default-color);
	background: transparent none;

	@extend %cv-btn-color-presets;
}

// Size
button{
	@extend %cv-btn-default-size;

	&.tiny{
		padding: { top: $btn-tiny-vp; right: $btn-tiny-hp; bottom: $btn-tiny-vp; left: $btn-tiny-hp; }
		font-size: $default-btn-tiny-fs;

		&.expanding{
			&:hover{
				padding: {
					top: $btn-tiny-vp+$expand-rate; bottom: $btn-tiny-vp+$expand-rate;
					right: $btn-tiny-hp+$expand-rate; left: $btn-tiny-hp+$expand-rate;
				}
				transition-duration: 0.5s;
			}
		}
	}
	&.small{
		@extend %cv-btn-default-size;

		&.expanding{
			&:hover{
				padding: {
					top: $btn-small-vp+$expand-rate; bottom: $btn-small-vp+$expand-rate;
					right: $btn-small-hp+$expand-rate; left: $btn-small-hp+$expand-rate;
				}
				transition-duration: 0.5s;
			}
		}
	}
	&.big{
		padding: { top: $btn-big-vp; right: $btn-big-hp; bottom: $btn-big-vp; left: $btn-big-hp; }
		font-size: $default-btn-big-fs;
		&.expanding{
			&:hover{
				padding: {
					top: $btn-big-vp+$expand-rate; bottom: $btn-big-vp+$expand-rate;
					right: $btn-big-hp+$expand-rate; left: $btn-big-hp+$expand-rate;
				}
				transition-duration: 0.5s;
			}
		}
	}
	&.large{
		padding: { top: $btn-large-vp; right: $btn-large-hp; bottom: $btn-large-vp; left: $btn-large-hp; }
		font-size: $default-btn-large-fs;
		&.expanding{
			&:hover{
				padding: {
					top: $btn-large-vp+$expand-rate; bottom: $btn-large-vp+$expand-rate;
					right: $btn-large-hp+$expand-rate; left: $btn-large-hp+$expand-rate;
				}
				transition-duration: 0.5s;
			}
		}
	}
}