$cv-container-offset: 20px;

$mobile-default-width: 414px;
$tablet-small-default-width: 667px;
$tablet-large-default-width: 1024px;
$desktop-default-width: 1366px;

.cv-container{
	position: relative;
	display: block;
	box-sizing: content-box;
	max-width: 100%;
	margin: {
		left: auto;
		right: auto;
		top: 0;
		bottom: 0;
	}
}

// Mobile
@media only screen and (max-width: $mobile-default-width){
	.cv-container{
		padding: {
			left: $cv-container-offset;
			right: $cv-container-offset;
		}
	}
}

// Tablet (Small)
@media only screen and (min-width: $mobile-default-width+1 ) and (max-width: $tablet-small-default-width){
	.cv-container{
		padding: {
			left: $cv-container-offset+5;
			right: $cv-container-offset+5;
		}
	}
}

// Tablet (Large) & Desktop
@media only screen and (min-width: $tablet-small-default-width+1 ){
	.cv-container{
		padding: {
			left: auto;
			right: auto;
		}
	}
}