h1.cv-h1{
	font-size: $h1-default-size;
}

h2.cv-h2{
	font-size: $h2-default-size;
}

h3.cv-h3{
	font-size: $h3-default-size;
}

h4.cv-h4{
	font-size: $h4-default-size;
}

h5.cv-h5{
	font-size: $h5-default-size;
}

h6.cv-h6{
	font-size: $h6-default-size;
}