.cv-header{
	font-style: $font-main;
	font-weight: normal;
	text-transform: none;

	&.red{ color: $red-main; }
	&.green{ color: $green-main; }
	&.blue{ color: $blue-main; }
	&.teal{ color: $teal-main; }
	&.orange{ color: $orange-main; }
	&.yellow{ color: $yellow-main; }
	&.brown{ color: $brown-main; }
	&.purple{ color: $purple-main; }
	&.dark{ color: $dark-main; }
}

h1.cv-header{
	font-size: $h1-default-size;
	line-height: $h1-default-line-height;
	@media only screen and (max-width: $mobile-default-width){
		font-size: $h1-default-mobile-font-size;
	}
	@media only screen and (min-width: $mobile-default-width+1 ) and (max-width: $tablet-small-default-width){
		font-size: $h1-default-tablet-small-font-size;
	}
}

h2.cv-header{
	font-size: $h2-default-size;
	line-height: $h2-default-line-height;
	@media only screen and (max-width: $mobile-default-width){
		font-size: $h2-default-mobile-font-size;
	}
	@media only screen and (min-width: $mobile-default-width+1 ) and (max-width: $tablet-small-default-width){
		font-size: $h2-default-tablet-small-font-size;
	}
}

h3.cv-header{
	font-size: $h3-default-size;
	line-height: $h3-default-line-height;
	@media only screen and (max-width: $mobile-default-width){
		font-size: $h3-default-mobile-font-size;
	}
	@media only screen and (min-width: $mobile-default-width+1 ) and (max-width: $tablet-small-default-width){
		font-size: $h3-default-tablet-small-font-size;
	}
}

h4.cv-header{
	font-size: $h4-default-size;
	line-height: $h4-default-line-height;
	@media only screen and (max-width: $mobile-default-width){
		font-size: $h4-default-mobile-font-size;
	}
	@media only screen and (min-width: $mobile-default-width+1 ) and (max-width: $tablet-small-default-width){
		font-size: $h4-default-tablet-small-font-size;
	}
}

h5.cv-header{
	font-size: $h5-default-size;
	line-height: $h5-default-line-height;
	@media only screen and (max-width: $mobile-default-width){
		font-size: $h5-default-mobile-font-size;
	}
	@media only screen and (min-width: $mobile-default-width+1 ) and (max-width: $tablet-small-default-width){
		font-size: $h5-default-tablet-small-font-size;
	}
}

h6.cv-header{
	font-size: $h6-default-size;
	line-height: $h6-default-line-height;
	@media only screen and (max-width: $mobile-default-width){
		font-size: $h6-default-mobile-font-size;
	}
	@media only screen and (min-width: $mobile-default-width+1 ) and (max-width: $tablet-small-default-width){
		font-size: $h6-default-tablet-small-font-size;
	}
}