%active-link{
	color: $a-activated-color;
	text-decoration: none;
}

%inactive-link{
	color: $a-inactive-color;
	text-decoration: none;
}

/* 
	Default Settings 
*/

* {	
	font-family: $font-main; 
}

/*b,strong,h1,h2,h3,h4,h5,h6,dfn,sub,sup,a,p{
	font-family: $font-main;
}*/

b,strong,h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

dfn{
	font-style: italic;
}

a{
	text-decoration: none;
	&:hover, &:active	{ @extend %active-link; }
	&:visited			{ @extend %inactive-link; }
}

p{
	margin: 0;
}

/*
	Placeholders: Color Setting
*/

%setcolor-red{
	color: $red-main;
}

%setcolor-green{
	color: $green-main;
}

%setcolor-blue{
	color: $blue-main;
}

%setcolor-teal{
	color: $teal-main;
}

%setcolor-orange{
	color: $orange-main;
}

%setcolor-yellow{
	color: $yellow-main;
}

%setcolor-brown{
	color: $brown-main;
}

%setcolor-purple{
	color: $purple-main;
}

%setcolor-dark{
	color: $dark-main;
}