%active-link{
	color: $a-activated-color;
	text-decoration: none;
}

%inactive-link{
	color: $a-inactive-color;
	text-decoration: none;
}

// Default Settings

* {	
	font-family: $font-main; 
}

b,strong,h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

dfn{
	font-style: italic;
}

a{
	text-decoration: none;
	&:hover, &:active	{ @extend %active-link; }
	&:visited			{ @extend %inactive-link; }
}

p{
	margin: 0;
}

// Alignment
// for Component Elements
.cv-btn{
	&.right-aligned{
		float: right;
	}
	&.left-aligned{
		float: left;
	}
}
// for Text Elements
.cv-header{
	&.right-aligned{
		text-align: right;
	}
	&.left-aligned{
		text-align: left;
	}
	&.centered{
		text-align: center;
	}
}

// Mixins

@mixin setVerticalPadding ($top, $bottom) {
	padding: {
		top: $top;
		bottom: $bottom;
	}
}

@mixin setHorizontalPadding ($right, $left) {
	padding: {
		right: $right;
		left: $left;
	}
}