body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, html, h1, h2, h3, h4, h5, h6, iframe, hr {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

a:hover, a:active {
  color: #46a1f2;
  text-decoration: none; }

a:visited {
  color: #000000;
  text-decoration: none; }

* {
  font-family: "Source Sans Pro", sans-serif; }

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

dfn {
  font-style: italic; }

a {
  text-decoration: none; }

p {
  margin: 0; }

.cv-container {
  position: relative;
  display: block;
  box-sizing: content-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0; }

@media only screen and (max-width: 414px) {
  .cv-container {
    padding-left: 20px;
    padding-right: 20px; } }

@media only screen and (min-width: 415px) and (max-width: 667px) {
  .cv-container {
    padding-left: 25px;
    padding-right: 25px; } }

@media only screen and (min-width: 668px) {
  .cv-container {
    padding-left: auto;
    padding-right: auto; } }

.cv-avatar.rounded {
  border-radius: 5%; }

.cv-avatar.circular {
  border-radius: 50%; }

.cv-avatar.tiny {
  width: 2.75vw; }

.cv-avatar.small {
  width: 5vw; }

.cv-avatar.medium {
  width: 10vw; }

.cv-avatar.big {
  width: 15vw; }

.cv-avatar.large {
  width: 20vw; }

button, button.small {
  padding-top: 0.4em;
  padding-right: 1.4em;
  padding-bottom: 0.4em;
  padding-left: 1.4em;
  font-size: 16px; }

button.cv-btn {
  cursor: pointer;
  margin: 0em 0.25em 0em 0em;
  position: relative;
  display: inline-block;
  min-height: 1em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
  border: 2px solid #dbdbdb;
  border-radius: 0.28rem; }
  button.cv-btn:last-child {
    margin-right: 0em; }
  button.cv-btn:focus {
    outline: none !important; }
  button.cv-btn.transform:hover {
    border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    transition-duration: 0.5s; }
  button.cv-btn.curved {
    border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px; }
    button.cv-btn.curved.transform:hover {
      border-radius: 0.28rem;
      -ms-border-radius: 0.28rem;
      -webkit-border-radius: 0.28rem;
      -moz-border-radius: 0.28rem;
      transition-duration: 0.5s; }
  button.cv-btn:hover {
    border-color: #c2c2c2;
    background-color: #c2c2c2;
    transition-duration: 0.5s; }
  button.cv-btn.red {
    border-color: #d93843;
    background-color: #d93843;
    color: white; }
    button.cv-btn.red:hover {
      border-color: #c72631;
      background-color: #c72631;
      transition-duration: 0.5s; }
  button.cv-btn.green {
    border-color: #73c088;
    background-color: #73c088;
    color: white; }
    button.cv-btn.green:hover {
      border-color: #5ab573;
      background-color: #5ab573;
      transition-duration: 0.5s; }
  button.cv-btn.blue {
    border-color: #54c0cc;
    background-color: #54c0cc;
    color: white; }
    button.cv-btn.blue:hover {
      border-color: #3ab5c2;
      background-color: #3ab5c2;
      transition-duration: 0.5s; }
  button.cv-btn.teal {
    border-color: #2fc4b2;
    background-color: #2fc4b2;
    color: white; }
    button.cv-btn.teal:hover {
      border-color: #28a798;
      background-color: #28a798;
      transition-duration: 0.5s; }
  button.cv-btn.orange {
    border-color: #fe7235;
    background-color: #fe7235;
    color: white; }
    button.cv-btn.orange:hover {
      border-color: #fe5911;
      background-color: #fe5911;
      transition-duration: 0.5s; }
  button.cv-btn.yellow {
    border-color: #ffc43d;
    background-color: #ffc43d;
    color: white; }
    button.cv-btn.yellow:hover {
      border-color: #ffb919;
      background-color: #ffb919;
      transition-duration: 0.5s; }
  button.cv-btn.brown {
    border-color: #c6a477;
    background-color: #c6a477;
    color: white; }
    button.cv-btn.brown:hover {
      border-color: #bb935e;
      background-color: #bb935e;
      transition-duration: 0.5s; }
  button.cv-btn.purple {
    border-color: #f65be3;
    background-color: #f65be3;
    color: white; }
    button.cv-btn.purple:hover {
      border-color: #f439dd;
      background-color: #f439dd;
      transition-duration: 0.5s; }
  button.cv-btn.dark {
    border-color: #555555;
    background-color: #555555;
    color: white; }
    button.cv-btn.dark:hover {
      border-color: #434343;
      background-color: #434343;
      transition-duration: 0.5s; }

button.cv-btn-minimal {
  cursor: pointer;
  margin: 0em 0.25em 0em 0em;
  position: relative;
  display: inline-block;
  min-height: 1em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
  border: 2px solid #dbdbdb;
  border-radius: 0.28rem;
  background: transparent none; }
  button.cv-btn-minimal:last-child {
    margin-right: 0em; }
  button.cv-btn-minimal:focus {
    outline: none !important; }
  button.cv-btn-minimal.transform:hover {
    border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    transition-duration: 0.5s; }
  button.cv-btn-minimal.curved {
    border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px; }
    button.cv-btn-minimal.curved.transform:hover {
      border-radius: 0.28rem;
      -ms-border-radius: 0.28rem;
      -webkit-border-radius: 0.28rem;
      -moz-border-radius: 0.28rem;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.red {
    border-color: #d93843; }
    button.cv-btn-minimal.red:hover {
      color: white;
      background-color: #d93843;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.green {
    border-color: #73c088; }
    button.cv-btn-minimal.green:hover {
      color: white;
      background-color: #73c088;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.blue {
    border-color: #54c0cc; }
    button.cv-btn-minimal.blue:hover {
      color: white;
      background-color: #54c0cc;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.teal {
    border-color: #2fc4b2; }
    button.cv-btn-minimal.teal:hover {
      color: white;
      background-color: #2fc4b2;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.orange {
    border-color: #fe7235; }
    button.cv-btn-minimal.orange:hover {
      color: white;
      background-color: #fe7235;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.yellow {
    border-color: #ffc43d; }
    button.cv-btn-minimal.yellow:hover {
      color: white;
      background-color: #ffc43d;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.brown {
    border-color: #c6a477; }
    button.cv-btn-minimal.brown:hover {
      color: white;
      background-color: #c6a477;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.purple {
    border-color: #f65be3; }
    button.cv-btn-minimal.purple:hover {
      color: white;
      background-color: #f65be3;
      transition-duration: 0.5s; }
  button.cv-btn-minimal.dark {
    border-color: #555555; }
    button.cv-btn-minimal.dark:hover {
      color: white;
      background-color: #555555;
      transition-duration: 0.5s; }

button.tiny {
  padding-top: 0.3em;
  padding-right: 1.3em;
  padding-bottom: 0.3em;
  padding-left: 1.3em;
  font-size: 12px; }
  button.tiny.expanding:hover {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    transition-duration: 0.5s; }

button.small.expanding:hover {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-right: 1.6em;
  padding-left: 1.6em;
  transition-duration: 0.5s; }

button.big {
  padding-top: 0.45em;
  padding-right: 1.45em;
  padding-bottom: 0.45em;
  padding-left: 1.45em;
  font-size: 24px; }
  button.big.expanding:hover {
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    padding-right: 1.65em;
    padding-left: 1.65em;
    transition-duration: 0.5s; }

button.large {
  padding-top: 0.6em;
  padding-right: 1.6em;
  padding-bottom: 0.6em;
  padding-left: 1.6em;
  font-size: 28px; }
  button.large.expanding:hover {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 1.8em;
    padding-left: 1.8em;
    transition-duration: 0.5s; }
