/* Avatar */
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, html, h1, h2, h3, h4, h5, h6, iframe, hr {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

a:hover, a:active {
  color: #46a1f2;
  text-decoration: none; }

a:visited {
  color: #000000;
  text-decoration: none; }

/* 
	Default Settings 
*/
* {
  font-family: "Source Sans Pro", sans-serif; }

/*b,strong,h1,h2,h3,h4,h5,h6,dfn,sub,sup,a,p{
	font-family: $font-main;
}*/
b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

dfn {
  font-style: italic; }

a {
  text-decoration: none; }

p {
  margin: 0; }

/*
	Placeholders: Color Setting
*/
.avatar.rounded {
  border-radius: 5%; }

.avatar.circular {
  border-radius: 50%; }

.avatar.tiny {
  width: 45px; }

.avatar.small {
  width: 135px; }

.avatar.big {
  width: 190px; }

.avatar.large {
  width: 295px; }

/* Default Value */
/* Font Size */
/* Padding */
/* Border */
button.cv-btn, button.cv-btn.basic {
  background: transparent none;
  border-radius: 0.28rem; }

button.cv-btn, button.cv-btn.tiny {
  padding-top: 0.45em;
  padding-right: 1.45em;
  padding-bottom: 0.45em;
  padding-left: 1.45em;
  font-size: 14px; }

button.cv-btn {
  cursor: pointer;
  margin: 0em 0.25em 0em 0em;
  display: inline-block;
  min-height: 1em;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  border: 2px solid #dbdbdb;
  /* Size */
  /*
		Basic Button
	*/ }
  button.cv-btn:last-child {
    margin: 0em; }
  button.cv-btn:focus {
    outline: none !important; }
  button.cv-btn.small {
    padding-top: 0.55em;
    padding-right: 1.55em;
    padding-bottom: 0.55em;
    padding-left: 1.55em;
    font-size: 16px; }
  button.cv-btn.big {
    padding-top: 0.6em;
    padding-right: 1.6em;
    padding-bottom: 0.6em;
    padding-left: 1.6em;
    font-size: 24px; }
  button.cv-btn.large {
    padding-top: 0.67em;
    padding-right: 1.67em;
    padding-bottom: 0.67em;
    padding-left: 1.67em;
    font-size: 28px; }
  button.cv-btn.red {
    border-color: #ff4646; }
    button.cv-btn.red:hover {
      background-color: #ff4646;
      color: white; }
  button.cv-btn.green {
    border-color: #73c088; }
    button.cv-btn.green:hover {
      background-color: #73c088;
      color: white; }
  button.cv-btn.blue {
    border-color: #54c0cc; }
    button.cv-btn.blue:hover {
      background-color: #54c0cc;
      color: white; }
  button.cv-btn.teal {
    border-color: #2fc4b2; }
    button.cv-btn.teal:hover {
      background-color: #2fc4b2;
      color: white; }
  button.cv-btn.orange {
    border-color: #fe7235; }
    button.cv-btn.orange:hover {
      background-color: #fe7235;
      color: white; }
  button.cv-btn.yellow {
    border-color: #fdd51e; }
    button.cv-btn.yellow:hover {
      background-color: #fdd51e;
      color: white; }
  button.cv-btn.brown {
    border-color: #c6a477; }
    button.cv-btn.brown:hover {
      background-color: #c6a477;
      color: white; }
  button.cv-btn.purple {
    border-color: #ca34ca; }
    button.cv-btn.purple:hover {
      background-color: #ca34ca;
      color: white; }
  button.cv-btn.dark {
    border-color: #555555; }
    button.cv-btn.dark:hover {
      background-color: #555555;
      color: white; }
  button.cv-btn.basic {
    border: 1px solid #dbdbdb; }
    button.cv-btn.basic.red {
      border-color: #ff4646; }
    button.cv-btn.basic.green {
      border-color: #73c088; }
    button.cv-btn.basic.blue {
      border-color: #54c0cc; }
    button.cv-btn.basic.teal {
      border-color: #2fc4b2; }
    button.cv-btn.basic.orange {
      border-color: #fe7235; }
    button.cv-btn.basic.yellow {
      border-color: #fdd51e; }
    button.cv-btn.basic.brown {
      border-color: #c6a477; }
    button.cv-btn.basic.purple {
      border-color: #ca34ca; }
    button.cv-btn.basic.dark {
      border-color: #555555; }
